<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <link media="all" th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
        <link media="all" th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
    </div>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <img class="navbar-brand" th:src="@{/image/logo.png}">
                <li class="nav-item active">
                    <a class="nav-link" href="/carsharing/index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">M - Panel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/carsharing/api/cars/available">Available cars</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>