<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Carsharing Grodno</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body class="banner">
<div th:replace="fragments/header :: header"/>

<div class="container">
    <div class="small-panel">
        <h2 class="text-white fw-bold h2">[ User's manual ]</h2><br>
        <p class="text-white fw-bold">1. The user needs to register on the site, after registration, remember or write down his data for further authorizations.
        <p class="text-white fw-bold">2. Deposit to account on the site.</p>
        <p class="text-white fw-bold">3. Go to the tab of available cars and select the one you want.</p>
        <p class="text-white fw-bold">4. After choosing a car and clicking on the button start a deal, you will be transferred to the control panel.</p>
        <p class="text-white fw-bold">5. To complete the car rental, you must click the button to close deal.</p>
        <p class="text-white fw-bold">6. You can receive a check by clicking the get receipt button.</p>
        <p class="text-white fw-bold">[  Wish you a good road  ]</p>
    </div>
</div>
</body>
</html>