<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Carsharing Grodno</title>
    <div th:replace="fragments/header :: header-css"/>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=bc4bc738-883b-4335-9094-b634c0e15d12&lang=en_US&onload=init" type="text/javascript"></script>
</head>
<body class="banner">
<div th:replace="fragments/header :: header"/>

<div class="container">
    <div class="panel" style="text-align: center">
        <div id="map" style="width: 100%; height: 565px; padding-top: 30px;"></div>
    </div>
</div>

<script th:inline="javascript">

    function init() {
        var map = new ymaps.Map("map", {
            center: [53.66490864434912, 23.830245072291707],
            zoom: 12.5
        });
        map.controls.remove('searchControl');

        var cars = [[${cars}]];
        console.log(cars);

        for (var i = 0; i < cars.length; i++) {
            var link = "/carsharing/api/deal/start?carId=" + cars[i].id;
            var carMark = new ymaps.Placemark([cars[i].posX, cars[i].posY], {
                balloonContentHeader: 'Auto: ' + cars[i].brand,
                balloonContentBody: '<img src="/carsharing/image/background-car.png" height="140" width="320" alt="CAR"> <br/> ' +
                    '<b>Car type: </b>' + cars[i].type + "<br>" +
                    '<b>FUEL: </b>' + cars[i].fuel,
                balloonContentFooter:
                    '<form method="post" action="'+ link +'">' +
                    '<button type="submit" class="btn btn-danger"><b>to rent car</b></button>' +
                    '</form>',
                hintContent: cars[i].brand
            }, {
                iconLayout: 'default#image',
                iconImageHref: '/carsharing/image/carIcon.png',
                iconImageSize: [40, 52],
                iconImageOffset: [-10, -65],
            });
            map.geoObjects.add(carMark);
        }
    }

</script>
</body>
</html>