<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Carsharing Grodno</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body class="banner">
<div th:replace="fragments/header :: header"/>
<div class="container">
    <div class="small-panel">
        <div class="text-white">
            <p class="h1">Oooops... Sorrryy...</p>
            <p class="h3" th:text="${message}"></p>
            <img src="/carsharing/image/broken-robot.png" height="240" width="420" alt="problem">
            <a class="btn btn-danger border-white text-white" href="javascript:history.back()"><b> > go back! <</b></a>
        </div>
    </div>
</div>
</body>
</html>