<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Carsharing Grodno</title>
    <link media="all" th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <link media="all" th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body class="banner">
<div th:replace="fragments/header :: header"/>

<div class="container">
    <div class="row">
        <div class="col dis-1">
            <h1 class="display-4">Personal car for your taste!</h1>
        </div>
        <div class="col"></div>
        <div class="col "></div>
    </div>
</div>
</body>
</html>