<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://java.sun.com/jsf/core">
<head>
    <title>Carsharing Grodno</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body class="banner">
<div th:replace="fragments/header :: header"/>

<div class="container">
    <div class="authorization-panel">
        <form th:action="@{/api/auth/signin}" th:object="${customer}" method="post">
            <h2 class="text-white">Authorization. Please Sign In</h2>

            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    Invalid username and password.
                </div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-info">
                    You have been logged out.
                </div>
            </div>

            <div class="form-group">
                <input th:field="*{email}" type="text" name="username" class="form-control input-lg"
                       placeholder="Email" required="true" autofocus="true"/>
            </div>
            <div class="form-group">
                <input th:field="*{password}" type="password" name="password" class="form-control input-lg"
                       placeholder="Password" required="true"/>
            </div>

            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign In"/>

        </form>
    </div>
</div>
</body>
</html>